@model BethesdaMVCEConsentForms.Models.PatientConsentMain
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="POST" action="/Home/PatientConsent">
<ul class="content">
    <li>
        <table class="consentTable">
            <tbody>
                <tr>
                    <td colspan="5">
                        <h3>
                            Patient Consent Form</h3>
                    </td>
                </tr>
                @if (!ViewBag.Loggedin)
                {
                    <tr>
                        <td>
                            <h4>
                                Employee ID</h4>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.EmployeeId)
                        </td>
                        <td colspan="3">
                            <input type="submit" title="Login" value="Login" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td colspan="4">
                            <label class="errorInfomodified">@Model.ErrorInfo
                            </label>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            @Html.HiddenFor(m => m.EmployeeId)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <h4>
                            Select Location</h4>
                    </td>
                    <td>
                        <input type="checkbox" onclick="document.form.submit();" />
                        BHE
                    </td>
                    <td colspan="3">
                        <input type="checkbox" onclick="document.form.submit();" />
                        BHW
                    </td>
                </tr>
                <tr>
                    <td>
                        Patient
                    </td>
                    <td colspan="4">
                        @Html.DropDownListFor(m => m.SelectedPatientID, Model.PatientsList, new { id = "DdlPatientSelection" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        @Html.LabelForModel(Model.PatientName)
                    </td>
                    <td>
                        Patient#
                    </td>
                    <td>
                        @Html.LabelForModel(Model.PatientHash)
                    </td>
                </tr>
                <tr>
                    <td>
                        Age
                    </td>
                    <td>
                        @Html.LabelForModel(Model.PatientAge)
                    </td>
                    <td>
                        Gender
                    </td>
                    <td colspan="2">
                        @Html.LabelForModel(Model.Gender)
                    </td>
                </tr>
                <tr>
                    <td>
                        MR#
                    </td>
                    <td colspan="4">
                        @Html.LabelForModel(Model.PatientMRHash)
                    </td>
                </tr>
                <tr>
                    <td>
                        Attending physician
                    </td>
                    <td colspan="4">
                        @Html.LabelForModel(Model.AttendingPhysician)
                    </td>
                </tr>
                <tr>
                    <td>
                        Admission Date
                    </td>
                    <td colspan="4">
                        @Html.LabelForModel(Model.AdmissionDate)
                    </td>
                </tr>
                <tr>
                    <td class="noBorder">
                    </td>
                    <td colspan="4" class="noBorder">
                        @Html.DropDownListFor(m => m.ConsentFormSelectedID, Model.ConsentFormList)
                    </td>
                </tr>
                <tr>
                    <td class="noBorder">
                    </td>
                    <td colspan="4">
                        <div id="PnlConsentChkboxes">
                            <ul>
                                <li>
                                    @Html.CheckBoxFor(m => m.SurgicalConsent)
                                    CONSENT TO DIAGNOSTIC PROCEDURE OR OPERATION </li>
                                <li>
                                    @Html.CheckBoxFor(m => m.CardioVascularConsent)
                                    CARDIOVASCULAR LABORATORY CONSENT </li>
                                <li>
                                    @Html.CheckBoxFor(m => m.OORConsent)
                                    CONSENT FOR PROCEDURES OUTSIDE OF THE OPERATING ROOM </li>
                                <li>
                                    @Html.CheckBoxFor(m => m.EndoscopyConsent)
                                    CONSENT FOR ENDOSCOPY </li>
                                <li>
                                    @Html.CheckBoxFor(m => m.BloodConsent)
                                    CONSENT FOR TRANSFUSION OF BLOOD OR BLOOD PRODUCTS </li>
                                <li>
                                    @Html.CheckBoxFor(m => m.BloodConsent)
                                    CONSENT FOR THERAPEUTIC APHERESIS </li>
                                <li>
                                    @Html.CheckBoxFor(m => m.PICCConsent)
                                    AUTHORIZATION FOR PERIPHERALLY INSERTED CENTRAL CATHETER (PICC) </li>
                            </ul>
                        </div>
                        <div id="PnlPDFLinks">
                            <ul>
                                <li><a href="/BlankPDFs/Surgical.pdf">CONSENT TO DIAGNOSTIC PROCEDURE OR OPERATION</a></li>
                                <li><a href="/BlankPDFs/Cardiovascular.pdf">CARDIOVASCULAR LABORATORY CONSENT</a></li>
                                <li><a href="/BlankPDFs/OutsideOR.pdf">CONSENT FOR PROCEDURES OUTSIDE OF THE OPERATING
                                    ROOM</a></li>
                                <li><a href="/BlankPDFs/Endoscopy.pdf">ENDOSCOPY CONSENT</a></li>
                                <li><a href="/BlankPDFs/BloodConsentOrRefusal.pdf">CONSENT FOR TRANSFUSION OF BLOOD
                                    OR BLOOD PRODUCTS</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <% if (!string.IsNullOrEmpty(LblError.Text)) {%>
                <tr>
                    <td>
                    </td>
                    <td colspan="4">
                        <asp:label runat="server" id="LblError" cssclass="errorInfomodified"></asp:label>
                    </td>
                </tr>
                <% }%>
                <tr>
                    <td colspan="5" class="center">
                        <asp:button runat="server" id="BtnSign" text="Sign" onclick="BtnSign_Click" />
                        <asp:button runat="server" id="BtnReset" text="Reset" onclick="BtnReset_Click" />
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
</form>